<div class="home-info-container">

    <div class="home-image">
        <img src="/images/profile.JPG" alt="Jordan Childs">
    </div>

    <div class="home-text">
        <h1>{{ .Site.Params.homeInfoParams.Title }}</h1>

            {{ .Site.Params.homeInfoParams.Content | markdownify }}

        <div class="custom-links">
            <a href="https://github.com/jordanbchilds">GitHub</a>
            <a href="linkedin.com/in/jordan-childs-186613181">LinkedIn</a>
        </div>
    </div>

</div>